body {
  color: white;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
    45deg,
    #0a0a0a,
    #141414,
    #1e1e1e,
    #282828,
    #323232,
    #3c3c3c,
    #464646,
    #505050
  );
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.mainContainer {
  display: flex;
  width: 100%;
  height: 98vh;
  box-sizing: border-box;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}
.box1,
.box2,
.box3 {
  width: 30%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: #8d74fd;
}
.message {
  font-size: 1.2rem;
  margin-top: 0;
}
.box2 {
  width: 60%;
  height: 90%;
  border-radius: 40px;
  background: rgba(24, 20, 20, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.loginLink {
  margin-top: 4px;
  color: #8d74fd;
  cursor: pointer;
  position: relative;
  width: auto;
}
.loginLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #8d74fd;
  height: 2px;
  width: 0;
}
.loginLink:hover::after {
  width: 22%;
  transition: width 0.3s;
}
.box1,
.box3 {
  height: 40%;
}
.signupCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signupForm {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 80%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.signupInput {
  width: 100%;
  height: 2rem;
  background-color: #323232;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.signupInput:focus {
  background-color: #625799;
  outline: none;
}
.signupSubmit {
  margin-top: 10px;
  width: 80%;
  height: 2.8rem;
  border-radius: 15px;
  background-color: #8d74fd;
  font-size: 1.4rem;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.signupSubmit:hover {
  transform: translateY(-5px);
  transition: 0.2s;
  box-shadow: 0 4px 10px rgba(141, 116, 253, 0.6);
}
.signupTitle {
  color: #8d74fd;
  font-size: 48px;
  transition: 0.2s ease;
}
.signupTitle:hover {
  text-shadow: 0 0 20px rgba(141, 116, 253, 1);
  transition: 0.2s ease;
}
.arrow-right {
  scale: 2;
  color: #8d74fd;
  cursor: pointer;
  transition: 0.2s;
}
.arrow-right:hover {
  transition: 0.2s;
  transform: translateX(5px);
}
.toast {
  position: fixed;
  margin-top: 12%;
  left: 50%;
  translate: -50%;
  width: auto;
  padding: 10px;
  background-color: #8d74fd;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.skillInput {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.verification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.range {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.range:hover {
  opacity: 1;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #8d74fd;
  cursor: pointer;
}

.range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #8d74fd;
  cursor: pointer;
}
.avatar {
  display: flex;
  width: 120%;
  min-width: 300px;
  flex-wrap: wrap;
  justify-content: center;
}
.avatarImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
  margin: 10px;
  transition: 0.2s;
}
.avatarImg:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: 0.2s;
  box-shadow: 0 4px 10px rgba(141, 116, 253, 0.6);
}
.avatarImg:active {
  transform: translateY(0px);
  transition: 0.2s;
}
.avatarToast {
  margin-top: 40px;
}
.err {
  background-color: rgb(226, 25, 25);
  margin-top: 11%;
}
@media (max-width: 600px) {
  .mainContainer {
    flex-direction: column;
    height: 100%;
    padding: 10px;
  }

  .signupCard {
    width: 100%;
    margin: 0;
  }

  .signupForm {
    padding: 20px;
  }

  .avatarImg {
    width: 80px;
    height: 80px;
  }

  .signupInput {
    width: 100%;
    margin-bottom: 10px;
  }

  .signupSubmit {
    width: 100%;
  }

  .avatarToast {
    margin-top: 20px;
  }

  .err {
    margin-top: 5%;
  }
}
